<ion-header>
  <ion-navbar>
     <ion-title>
        {{ title }}
     </ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <form
     [formGroup]="form"
     (ngSubmit)="saveDocument(form.value)">

      <ion-item>
        <ion-label stacked>City:</ion-label>
        <ion-input
           type="text"
           formControlName="city"
           [(ngModel)]="city"></ion-input>
      </ion-item>


     <ion-item>
        <ion-label stacked>Population:</ion-label>
        <ion-input
           type="text"
           formControlName="population"
           [(ngModel)]="population"></ion-input>
      </ion-item>


     <ion-item>
        <ion-label stacked>Established:</ion-label>
        <ion-input
           type="text"
           formControlName="established"
           [(ngModel)]="established"></ion-input>
      </ion-item>


      <ion-item>
        <button
          ion-button
          block
          color="primary"
          text-center
          padding-top
          padding-bottom
          [disabled]="!form.valid">
           <div *ngIf="!isEditable">
              Add a new document
           </div>

           <div *ngIf="isEditable">
              Update this document
           </div>
           </button>
      </ion-item>

  </form>


</ion-content>
