<ion-header>
  <ion-navbar>
    <ion-title>
      Cloud Firestore
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

   <button
      ion-button
      block
      color="primary"
      (click)="addDocument()">
   	  Add a new record
   </button>


   <ion-list>
   	  <ion-item *ngFor="let location of locations ! asyn">
   	  	 <h2>{{ location.city }}</h2>
   	  	 <p>
   	  	    Population: {{ location.population }}<br>
            Established: {{ location.established }}
   	  	 </p>


   	  	 <button
            ion-button
            color="secondary"
            (click)="updateDocument(location)">
         	  Update this record
         </button>


   	  	 <button
            ion-button
            color="danger"
            (click)="deleteDocument(location)">
         	  Delete this record
         </button>


   	  </ion-item>
   </ion-list>

</ion-content>